#widget-container-TDReusability h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}

/* menu */
#widget-container-TDReusability > ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333333;
}

#widget-container-TDReusability > ul li {
  	float: left;
}

#widget-container-TDReusability > ul li span {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 10px 16px;
  	text-decoration: none;
}

#widget-container-TDReusability > ul li span:hover:not(.active) {
  	background-color: #5a5a5a;
}

#widget-container-TDReusability > .active {
  	background-color: #5a5a5a;
}

/* AlertMessage */
.theia-info-alert{
	padding: 4px;
}

/* input */
#widget-container-TDReusability input{
	margin-left: 10px;
	background: transparent;
  	border: none;
  	color: white;
  	width: 50%;
}

/* TD Principal */
#TDIndex{
	display: none;
	margin-left: 10px;
}

#issuesNumber{
	display: none;
	margin-left: 10px;
  	margin-bottom: auto;
}

#issues{
	margin-left: 10px;
}

.divIssue{
	border-style: solid;
  	border-width: thin;
  	margin: 5px;
	padding: 2px;
	border-color: #6a6a6a;
}

.divIssue i{
    font-size: 12px;
    word-wrap: break-word;
}

.divIssue span{
	float: right;
}

.divIssue p{
	display: block;
    font-size: 13px;
	margin: auto;
	margin-top: 3px;
}

/* TD Interest */
#td-interest{
	display: none;
}

#TDIndexInterest{
	display: none;
	margin-left: 10px;
}

#td-interest > label{
	display: block;
	font-style: italic;
}

#widget-container-TDReusability > input[type='checkbox']{
	width: auto !important;
}

#interestProjectToken{
	display: none;
}

/* #interest-buttons{
	display:none;
} */

#interest-ShowHideFiles{
	padding: 1px;
}

#interest-ShowHideChart{
	margin-left: 30px;
	padding: 1px;
}

/* #chartInterest{
	display: none;
} */



/* Reusability */
#reusability{
	display: none;
}

#indexReusability{
	display: none;
	margin-left: 10px;
}

#reusability-ShowHideFiles{
	padding: 1px;
}

#reusability-ShowHideChart{
	margin-left: 30px;
	padding: 1px;
}



.ShowHide-buttons{
	display:none;
}

.chart{
	width: 100%;
	height: 400px;
	display: none;
}

svg{
	overflow: hidden !important;
}


/* Arrows */
.pic {
    margin-left: 5px;
    display: inline-block;
}
.arrow-up {
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 12px solid #0fff00;
}
.arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 12px solid #ff0000;
}

/* footer */
#widget-container-TDReusability > footer{
	margin-top: 8px;
	color: #777;
	text-align: center;
	cursor: pointer;
}